name: Node.js Package

on:
  push:
    tags:
      - 'v*'

jobs:
  build-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: build-npm
          path: dist/*
  build-yarn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --immutable
      - run: yarn build
      - uses: actions/upload-artifact@v2
        with:
          name: build-yarn
          path: dist/*
          
  publish-npm:
    needs: build-npm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/download-artifact@v2
        with:
          name: build-npm
      - run: npm version --new-version ${GITHUB_REF#refs/tags/v} --no-git-tag-version
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
  publish-yarn:
    needs: build-yarn
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/download-artifact@v2
        with:
          name: build-yarn
      - run: npm version --new-version ${GITHUB_REF#refs/tags/v} --no-git-tag-version
      - uses: simenandre/publish-with-yarn@v1
        with:
          npm-auth-token: ${{ secrets.NPM_TOKEN }}
 